body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 1rem;
}

/* Existing CSS styles remain unchanged */

section {
    margin-bottom: 2rem;
}

/* Existing CSS styles remain unchanged */

section h2 {
    color: #FF7700;
    margin-bottom: 0.5rem;
    margin-left: 10px;
}

h4 {
    margin-left: 10px;
    margin-top: -5px;
    display: none;
}

/* Add additional styling for core superset section */
#core-superset-container {
    border-top: 2px solid #FF7700;
    border-bottom: 2px solid #FF7700;
    padding: 1rem 0;
}


.exercise {
    background-color: #161414;
    margin: 10px;
    padding: 5px;
    position: relative;
}

button {
    background: transparent;
    color: #FF7700;
    border: transparent;
    position: absolute;
    left: 0px;
    bottom: -7px;
    margin-bottom: 10px;
}

.move-section {
    background-color: #222;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.move-section h2 {
    margin: 0;
    color: #fff;
    cursor: pointer;
}

.move-details {
    padding-left: 1rem;
    margin-top: 0.5rem;
}

.move-details p {
    margin: 0;
    color: #fff;
}

.move-details.show {
    display: block;
}

.move-details.hide {
    display: none;
}

.accent-color {
    color: #FF7700;
}

.hidden {
    display: none;
}

.show {
    display: inline-block;
    margin-top: -20px;
}

.core-exercise h4 {
    color: #FF7700;
}
